h1 {
    color: rgb(255, 255, 255);
    font-family: "Outfit", sans-serif;
 
    
}
li {
    
    display: flex;
    justify-content: space-between; /* This spreads out the child elements to both ends */
    align-items: center;  
    text-align: center;         /* This vertically centers the items in the list */
    padding: 10px;                 /* Adds some padding inside each list item */
    margin-bottom: 10px;       
    font-size: x-large;
    font-weight:bolder ; 
    width: 800px;
    color: whitesmoke;   /* Adds space between list items */ /* Optional: adds background to make text more readable */
}

body{
    text-align: center;
    height: 100vh;
    font-family: "Outfit", sans-serif;
    background-image: url('https://64.media.tumblr.com/cb1a6d28f1f97fe56c0764cdf40fc92c/d662df3b2e19bcdc-c5/s640x960/2b648b472fb7de0b1fe8dc4c523ce0b382728bf6.gifv');
  background-size: cover; /* Adjust this as needed */
  background-repeat: no-repeat;
  background-position: center;
}
.btn {
    font-family: "Outfit", sans-serif;
    height: 50px;
    width: 150px;
    font-size: medium;
    border:rgb(226, 167, 255) solid;
    border-width: 3px;
    border-radius: 50px;
    color: white;
    background: rgb(46, 44, 44);
    margin-right: 50PX;
}

input{
    font-family: "Outfit", sans-serif;
    height: 42px;
    width: 400px;
    font-size: larger;
    
    color: rgb(0, 0, 0);
    border:rgb(255, 255, 255) solid;
    border-width: 3px;
    border-radius: 50px;
   background-color: #e4e1e1;

}
.container { /* Assuming your ul is wrapped in a div with class container */
    display: flex;
    justify-content: center; /* Center horizontally in the flex container */
    align-items: center; /* Center vertically in the flex container */
    height: 100%; /* Take full height of its container */
}

ul {
    width: 100%; /* Adjust this as necessary */
    max-width: 800px; /* Adjust based on your design */
    margin: 0 auto; /* Centers the ul in the container if the container is wider */
    background-color: rgba(31, 31, 31, 0.6);
    border-radius: 25PX; /* Black with 90% opacity */
}
